@page
@model MegaDeskRazorPages.Pages.Quotes.SearchQuotesModel

@{
    ViewData["Title"] = "Search Quotes";
}

<h1>Search Quotes</h1>

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].QuoteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].QuoteTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].NumberOfDrawers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].DeskMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].RushDays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DeskQuote)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuoteDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuoteTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Width)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Depth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfDrawers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeskMaterial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RushDays)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-page="../Index">Home</a>
</div>
<div class="container2">
    <ul class="cb-slideshow2" style="list-style: none;">
        <li>
            <span>Image 01</span>
            <div>
                <h3>Searching</h3>
            </div>
        </li>
        <li>
            <span>Image 02</span>
            <div>
                <h3>Searching</h3>
            </div>
        </li>
        <li>
            <span>Image 03</span>
            <div>
                <h3>Searching</h3>
            </div>
        </li>
        <li>
            <span>Image 04</span>
            <div>
                <h3>Searching</h3>
            </div>
        </li>
        <li>
            <span>Image 05</span>
            <div>
                <h3>Searching</h3>
            </div>
        </li>
        <li>
            <span>Image 06</span>
            <div>
                <h3>Searching</h3>
            </div>
        </li>
    </ul>
</div>
